/*
Theme Name: CBS
Author: Andrei Botez
Author URI: http://github.com/zer0lis
Description: Cloud Business Services WP Theme.
Version: alpha
/* =Reset
-------------------------------------------------------------- */



/* ADDING THE FONTS*/

@font-face {
    font-family: 'lato-regular';
    src: url('fonts/lato-regular-webfont.woff2') format('woff2'),
         url('fonts/lato-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'lato-light';
    src: url('fonts/lato-light-webfont.woff2') format('woff2'),
         url('fonts/lato-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'lato-hairline';
    src: url('fonts/lato-hairline-webfont.woff2') format('woff2'),
         url('fonts/lato-hairline-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'lato-bold';
    src: url('fonts/lato-bold-webfont.woff2') format('woff2'),
         url('fonts/lato-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

/*Finished adding the fonts */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	border: 0;
	font-family: "lato-regular";
	font-size: 100%;
	font-style: inherit;
	font-weight: inherit;
	margin: 0;
	outline: 0;
	padding: 0;
	vertical-align: baseline;
}
html {	
	font-size: 62.5%; /* Corrects text resizing oddly in IE6/7 when body font-size is set using em units http://clagnut.com/blog/348/#c790 */
	overflow-y: scroll; /* Keeps page centred in all browsers regardless of content height */
	-webkit-text-size-adjust: 100%; /* Prevents iOS text size adjust after orientation change, without disabling user zoom */
	-ms-text-size-adjust: 100%; /* www.456bereastreet.com/archive/201012/controlling_text_size_in_safari_for_ios_without_disabling_user_zoom/ */
}
body {
	height: 100%;
	width: 100%;
	background: #fff;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
	display: block;
}
ol, ul {
	list-style: none;
}
table { /* tables still need 'cellspacing="0"' in the markup */
	border-collapse: separate;
	border-spacing: 0;
}
caption, th, td {
	font-weight: normal;
	text-align: left;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: "";
}
blockquote, q {
	quotes: "" "";
}
a:focus {
	outline: thin dotted;
	text-decoration: none !important;
}
a:hover,
a:active,
a:visited { /* Improves readability when focused and also mouse hovered in all browsers people.opera.com/patrickl/experiments/keyboard/test */
	outline: 0;
	text-decoration: none !important;
}
a img {
	border: 0;
}


/* =Global
----------------------------------------------- */

/* Set a default font size, color, line-height, and font family for your body element and all input elements. These can get overridden later on in the stylesheet, but are useful as base styles. */
body,
button,
input,
select,
textarea {
	line-height: 1.2;
}

/* Headings */
h1,h2,h3,h4,h5,h6 {
	clear: both;
}
h1 {
	font-size: 60px !important;
}
h2 {
	font-size: 48px !important;
}
h3 {
	font-size: 36px !important;
}
h4 {
	font-size: 30px !important;
}
h5 {
	font-style: 24px !important;
}
h6 {
	font-size: 20px !important;
}

/* Text elements */
p {
	font-size: 18px;
	margin-bottom: 1.5em;
}
ul, ol {
	font-size: 18px;
	margin: 0 0 1.5em 3em;
}
ul {
	list-style: disc;
}

li {
	text-align: left;
	font-size: 18px;
}
ol {
	list-style: decimal;
}
ul ul, ol ol, ul ol, ol ul {
	margin-bottom: 0;
	margin-left: 1.5em;
}
dt {
	font-weight: bold;
}
dd {
	margin: 0 1.5em 1.5em;
}
b, strong {
	font-weight: bold;
}
dfn, cite, em, i {
	font-style: italic;
}
blockquote {
	font-style: italic;
	margin: 0 1.5em;
}
address {
	margin: 0 0 1.5em;
}
pre {
	font-family: "Courier 10 Pitch", Courier, monospace;
	font-size: 15px;
	font-size: 1.5rem;
	line-height: 1.6;
	margin-bottom: 1.6em;
	padding: 1.6em;
	overflow: auto;
	max-width: 100%;
}
code, kbd, tt, var {
	font: 15px Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
}
abbr, acronym {
	border-bottom: 1px dotted #666;
	cursor: help;
}
mark, ins {
	background: #fff9c0;
	text-decoration: none;
}
sup,
sub {
	font-size: 75%;
	height: 0;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}
sup {
	bottom: 1ex;
}
sub {
	top: .5ex;
}
small {
	font-size: 75%;
}
big {
	font-size: 125%;
}
figure {
	margin: 0;
}
table {
	margin: 0 0 1.5em;
	width: 100%;
}
th {
	font-weight: bold;
}
hr {
}

/* Form Elements */
button,
input,
select,
textarea {
	font-size: 100%; /* Corrects font size not being inherited in all browsers */
	margin: 0; /* Addresses margins set differently in IE6/7, F3/4, S5, Chrome */
	vertical-align: baseline; /* Improves appearance and consistency in all browsers */
	*vertical-align: middle; /* Improves appearance and consistency in all browsers */
}
button,
input {
	line-height: normal; /* Addresses FF3/4 setting line-height using !important in the UA stylesheet */
	*overflow: visible;  /* Corrects inner spacing displayed oddly in IE6/7 */
}

/* Gives a basic visual design to form elements */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
	border: 1px solid #ccc;
	border-color: #ccc #ccc #bbb #ccc;
	border-radius: 3px;
	background: #e6e6e6;
	-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.5), inset 0 15px 17px rgba(255,255,255,0.5), inset 0 -5px 12px rgba(0,0,0,0.05);
	-moz-box-shadow: inset 0 1px 0 rgba(255,255,255,0.5), inset 0 15px 17px rgba(255,255,255,0.5), inset 0 -5px 12px rgba(0,0,0,0.05);
	box-shadow: inset 0 1px 0 rgba(255,255,255,0.5), inset 0 15px 17px rgba(255,255,255,0.5), inset 0 -5px 12px rgba(0,0,0,0.05);
	color: rgba(0,0,0,.8);
	cursor: pointer; /* Improves usability and consistency of cursor style between image-type 'input' and others */
	-webkit-appearance: button; /* Corrects inability to style clickable 'input' types in iOS */
	font-size: 12px;
	font-size: 1.4rem;
	line-height: 1;
	padding: 1.12em 1.5em 1em;
	text-shadow: 0 1px 0 rgba(255,255,255,.8);
}
button:hover,
html input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
	border-color: #ccc #bbb #aaa #bbb;
	-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.8), inset 0 15px 17px rgba(255,255,255,0.8), inset 0 -5px 12px rgba(0,0,0,0.02);
	-moz-box-shadow: inset 0 1px 0 rgba(255,255,255,0.8), inset 0 15px 17px rgba(255,255,255,0.8), inset 0 -5px 12px rgba(0,0,0,0.02);
	box-shadow: inset 0 1px 0 rgba(255,255,255,0.8), inset 0 15px 17px rgba(255,255,255,0.8), inset 0 -5px 12px rgba(0,0,0,0.02);
}
button:focus,
html input[type="button"]:focus,
input[type="reset"]:focus,
input[type="submit"]:focus,
button:active,
html input[type="button"]:active,
input[type="reset"]:active,
input[type="submit"]:active {
	border-color: #aaa #bbb #bbb #bbb;
	-webkit-box-shadow: inset 0 -1px 0 rgba(255,255,255,0.5), inset 0 2px 5px rgba(0,0,0,0.15);
	-moz-box-shadow: inset 0 -1px 0 rgba(255,255,255,0.5), inset 0 2px 5px rgba(0,0,0,0.15);
	box-shadow: inset 0 -1px 0 rgba(255,255,255,0.5), inset 0 2px 5px rgba(0,0,0,0.15);
}
input[type="checkbox"],
input[type="radio"] {
	box-sizing: border-box; /* Addresses box sizing set to content-box in IE8/9 */
	padding: 0; /* Addresses excess padding in IE8/9 */
}
input[type="search"] {
	-webkit-appearance: textfield; /* Addresses appearance set to searchfield in S5, Chrome */
	-moz-box-sizing: content-box;
	-webkit-box-sizing: content-box; /* Addresses box sizing set to border-box in S5, Chrome (include -moz to future-proof) */
	box-sizing: content-box;
}
input[type="search"]::-webkit-search-decoration { /* Corrects inner padding displayed oddly in S5, Chrome on OSX */
	-webkit-appearance: none;
}
button::-moz-focus-inner,
input::-moz-focus-inner { /* Corrects inner padding and border displayed oddly in FF3/4 www.sitepen.com/blog/2008/05/14/the-devils-in-the-details-fixing-dojos-toolbar-buttons/ */
	border: 0;
	padding: 0;
}
input[type=text],
input[type=email],
textarea {
	background: rgba( 255, 255, 255, 0.3 );
	border: 1px solid #ccc;
	border-radius: 3px;
	padding: 6px;
}
input[type=text]:focus,
input[type=email]:focus,
textarea:focus {
	background: #fff;
}
textarea {
	overflow: auto; /* Removes default vertical scrollbar in IE6/7/8/9 */
	padding-left: 3px;
	vertical-align: top; /* Improves readability and alignment in all browsers */
	width: 98%;
}

/* Links */
a,
a:visited {
}

a:hover,
a:focus,
a:active {

}

/* Alignment - WordPress uses these classes to align images and other elements inside the editor. */
.alignleft {
	display: inline;
	float: left;
	margin-right: 1.5em;
	margin-bottom: 1em;
}
.alignright {
	display: inline;
	float: right;
	margin-left: 1.5em;
	margin-bottom: 1em;
}
.aligncenter {
	clear: both;
	display: block;
	margin: 1.5em auto;
}

/* Text meant only for screen readers. It's hidden due to the clip property, but visible in the page source. If you take a look back in the template files at the mark-up for our main menu and other navigation areas, you'll notice that we have headers such as "Menu" and "Site Navigation" wrapped in an <code>h1</code> tag with a class of "assistive-text". Screen readers will read this text aloud, making it easier for users to locate structural sections in your theme.
*/
.assistive-text {
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
}

/* If you want to give a common style to all of the titles in your theme, here's a place to do it (you can style them individually later) */
.site-title,
.entry-title,
.page-title,
.widget-title,
.comments-title,
#reply-title {
	font-size: 24px;
	color: rgb(0, 0, 0);
	text-transform: uppercase;
	text-align: left;
}


/* =Structure
----------------------------------------------- */

/* Refer to the HTML structure graphic (http://themeshaper.com/wp-content/uploads/2012/10/html-visual.png) to see how these elements are nested in the mark-up. 

Use this section to set widths and margins, and to build a layout. For examples of layouts that you can copy and paste into this section, see:
https://github.com/Automattic/_s/blob/master/layouts/
*/
.content-area {
	float: left;
	margin: 0 -25% 0 0;
	width: 100%;
	height: 100%;

}

.site-main {
	height: 100%;
	margin: 0 25% 0 0;
	margin-left: 200px;
}

.site-content .widget-area {
	float: right;
	overflow: hidden;
	width: 25%;
}
.site-footer {
	width: 100%;
	clear: both;
}
.askoffer {
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #F05532;
	height: 50px;
	width: 250px;
}
.askoffer p, .askoffer p:hover {
	font-weight: bold;
	color:white;
	text-align: center !important;

}
.askoffer:hover, .askoffer:focus {
	color: white !important;
	background-color: #d04a2b;
}
.calltoaction {
	background-color: #F05532;
	height: 50px;
	width: 200px;
	text-align: center;
}
 .calltoaction p {
	color: white;
	display: flex;
	justify-content: center;
	align-self: center;
}
.glyphicon-circle-arrow-right {
	margin-top: 5px;
}
.calltoaction:hover {
	background-color: #d04a2b;
}
/* =Site Header
----------------------------------------------- */

/* Style elements inside of the .site-header container */

.site-header hgroup { /* Container for site title and description */

}
.site-title,
.site-title a {

}
.site-description { /* This is the tagline */
	
}

.logocbs {
	margin-left: 150px;
}

.site-header {
	width: 100%;
	height: 100px;
	display: flex;
	align-items: center;

}
#services-navbar {
	height: 120px;
	background-color: #0087BD;

}
#services-navbar a {
	color:white;
}
#services-navbar a:hover {
	color: black;
}
#services-navbar p {
	text-align: left;
	padding-top: 20px;
}
#services-navbar .services-navbar-img {
	height: 120px;
	display: flex;
	justify-content: center;
	align-items: center;
}

/* =Menu
----------------------------------------------- */

/* Style your navigation menu, which is inside .site-header. A basic drop-down menu structure is provided. */

.main-navigation { /* wraps the entire navigation menu */
	margin-right: 150px;
	width: 100%;
	display: inline-block;
}
.main-navigation:after { /* Clears the floats after the menu */
	clear: both;
	display: block;
}
.main-navigation ul { /* The menu is an unordered list */
	float: right;
	list-style: none;
	margin: 0;
	padding-left: 0;
}
.main-navigation li { /* Makes the menu "list" items horizontal */
	float: left;
	margin: 0.5em 0;
	padding-right: 50px;
	line-height: 1.2;
	font-size: 18px;
}
.main-navigation a { /* The individual list item links */
    display: block;
    text-decoration: none;
    color: #555555;
}
.main-navigation ul ul { /* Submenu drop-down "box" */
	padding-top: 20px;
	font-size: 20px;
	display: none;
	float: left;
	position: absolute;
		top: 1.2em;
		left: 0;
	z-index: 99999;
}
.main-navigation ul ul ul { /* 3rd+ level drop-down "box" */
	left: 100%;
	top: 0;
}
.main-navigation ul ul li { /* List items inside the drop-down box */
}
.main-navigation ul ul a { /* Menu links inside the drop-down "box" */
	padding: 0 1.5em;
	width: 200px;
}
.main-navigation li:hover > a,
.main-navigation li.current_page_item a,
.main-navigation li.current-menu-item a,
.main-navigation ul ul a:hover { /* Hover styles for menu items */
	text-decoration: none;
 	color: #0087bd;

}
.main-navigation ul ul :hover > a {
	
}
.main-navigation ul li:hover > ul {
	display: block;
}

/* Small menu toggle area for screens < 600 pixels wide. The small menu requires some simple JavaScript in order to take affect. See http://themeshaper.com/2012/10/31/the-wordpress-theme-header-template/ for instructions on setting up this script. */
.menu-toggle {
   	cursor: pointer;
}
.main-small-navigation .menu {
	display: none;
}
#wprmenu_menu_ul a{
	text-align: center;
}

/* =Content
----------------------------------------------- */

/* Styles for posts and pages */
.sticky { /* Style your sticky posts. This class is applied to the same element as .hentry below. */
	
}
.hentry { /* The wrapper for individual posts */
	margin: 0 0 1.5em;
	padding-bottom: 1.5em;	
}
.entry-header { /* Container for the entry title, byline and post date */
	padding-bottom: 30px;
}
.entry-title, 
.entry-title a { /* Post titles */
	display: none;
	text-decoration: none;
	font-size: 38px;
	color: black;
	text-align: center;
}
.page-title { /* Page titles */
	display: none;
}
body.search .page-title,
body.archive .page-title { /* Optional, if you want your page titles to look different on search and archive pages */

}
.entry-meta{ /* Container for the entry metadata */
	clear: both;
	width: 120px;
	height: 120px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-style: solid;
	border-width: 5px;
	border-color: rgb(0, 135, 189);
	text-align: center;
}

.entry-date { 
	min-width: 100%;
	min-height: 100%;
	font-size: 24px;
	color: rgb(0, 135, 189);
	text-transform: uppercase;
	text-align: center;
	
}
.byline { /* By default, bylines are shown */	
	font-size: 14px;
	color: rgb(105, 105, 105);
	text-transform: uppercase;
	text-align: right;

}
.single .byline,
.group-blog .byline, .entry-meta .byline{ /* Bylines are displayed on single posts and/or when there are multiple authors */
	display: none;
}
.cat-links a{  /* Styles category links inside the entry meta */
	text-decoration: none;
	height: 100%;
	width: 100%;
	font-size: 14px;	
	color: rgb(105, 105, 105);
	text-transform: uppercase;
	text-align: center;
	display: flex;
	justify-content: center;
}
.tag-links { /* Styles links to tags inside the entry-meta */
	
}
.sep {  /* Separator between category links, cat links, comments links, etc */	
	border: 1px solid;
	border-color: rgb(105, 105, 105);
	width: 1px;
	height:20px; 
}
.comments-link a{  /* Link to leave a comment */
	text-decoration: none;
	height: 100%;
	width: 100%;
	font-size: 14px;	
	color: rgb(105, 105, 105);
	text-transform: uppercase;
	text-align: left;
}
.edit-link { /* Link to Edit the post (only shows up for admins)*/
	padding: 10px;
	text-decoration: none;
	height: 100%;
	width: 100%;
	font-size: 14px;
	color: rgb(105, 105, 105);
	text-transform: uppercase;
	text-align: left;
}
.entry-content,
.entry-summary { /* Container for the post body/excerpt text */
	margin: 1.5em 0 0;
	font-size: 18px;
}

/* Styling In-Post Tables */
.entry-content table,
.comment-content table {
	border: 1px solid #000;
	border-left-width: 0;
	margin: 0 -0.083em 2.083em 0;
	text-align: left;
	width: 100%;
}
.entry-content tr th,
.entry-content thead th,
.comment-content tr th,
.comment-content thead th {
	border-left: 1px solid #000;
	font-weight: bold;
	padding: 0.5em 	1.25em;
}
.entry-content tr td,
.comment-content tr td {
	border: 1px solid #000;
  	border-width: 1px 0 0 1px;
	padding: 0.5em 	1.25em;
}
.entry-content tr.odd td,
.comment-content tr.odd td { /* If you want to apply alternate styles to even/odd table rows */

}

.page-links { /* Style the page numbers for multi-page posts (posts that have been split with <!--next-page -->. */
	clear: both;
	margin: 0 0 1.5em;
}

.entry-by {
	font-size: 14px;
	color: rgb(105, 105, 105);
	text-transform: uppercase;
	text-align: left;
	display: flex;
	justify-content: center;
	align-items: center;
}

.entry-footer {
	padding-top: 20px;
}

.blog-post-title {
	font-size: 30px;
	display: flex;
	justify-content: center;
}

.blog-post-title a{
	color: rgb(0, 0, 0);
	text-decoration: none;
}

.excerpt {
	padding-top: 20px;
	font-size: 14px;
}

#content-wrapper {
	margin-left: 50px;
	border: dotted;
}
/* =Aside Post Format
----------------------------------------------- */

/* Just put ".format-aside" before any of the above classes to create special formatting for Aside posts */

.format-aside .entry-content {
	border-left: 4px solid #000;
	padding-left: 1em;
}


/* =Media
----------------------------------------------- */

/* Styling for images and videos */
.site-header img,
.entry-content img,
.comment-content img,
.widget img {
	max-width: 100%; /* Fluid images for posts, comments, and widgets */
}
.site-header img,
.entry-content img,
.widget-img,
img[class*="align"],
img[class*="wp-image-"],
.wp-caption img {
	height: auto; /* Make sure images with WordPress-added height and width attributes are scaled correctly */
}
.site-header img,
.entry-content img,
.widget img,
img.size-full {
	max-width: 100%;
	width: auto; /* Prevent stretching of full-size images with height and width attributes in IE8 */
}
.entry-content img.wp-smiley,
.comment-content img.wp-smiley { /* Remove borders and backgrounds from WP smileys */
	border: none;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
}
.wp-caption { /* The container for image captions */
	max-width: 100%;
}
.wp-caption.aligncenter,
.wp-caption.alignleft,
.wp-caption.alignright,
.wp-caption.alignnone { /* Add spacing around captions and post text */
	margin-bottom: 1.5em;
}
.wp-caption img { /* The image inside the caption container */
	display: block;
	margin: 1.2% auto 0;
	max-width: 98%;
}
.wp-caption-text {
	text-align: center;
}
.wp-caption .wp-caption-text {
	margin: 0.8075em 0;
}
#content .gallery { /* Container for image galleries */
	margin-bottom: 1.5em;
}
.gallery-caption {
	font-style: italic;
}
#content .gallery a img {
	border: none;
	height: auto;
	max-width: 90%;
}
#content .gallery dd {
	margin: 0;
}

/* Make sure embeds and iframes fit their containers */
embed,
iframe,
object {
	max-width: 100%;
}

/*Remove images from post content*/
.entry-content img {
	width: 0%;
}
 
.postimg {
	padding-bottom: 50px;
	max-width: 100%;
	max-height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}


/* =Navigation
----------------------------------------------- */

/* Older/Newer Post Navigation */
#pbd-alp-load-posts {
	padding: 50px;
	font-size: 20px;
	clear: both;
	width: 300px;

}

.site-content .site-navigation {
}
.site-content .nav-previous {
	float: left;
	width: 50%;
}
.site-content .nav-next {
	float: right;
	text-align: right;
	width: 50%;
}

/* =Comments
----------------------------------------------- */

#comments { /* Container for the comments section */
	clear: both;
}
.bypostauthor { /* Gives post author comments thier own style */
	
}
.comments-title,
#reply-title {

}
.commentlist li {
	list-style: none;
}
.commentlist,
.children {
	list-style: none;
	margin: 0;
}
.children { /* Nested comments */
	margin: 0 0 0 6%;
}
.commentlist li.comment {  /* Individual top-level comments */

}
.commentlist li.pingback {  /* Individual top-level pingbacks */

}
.commentlist li:last-of-type { /* Do you want to style the last comment differently, such as remove borders? */

}
.commentlist .children li { /* Contains individual nested comments */

}
.children article.comment,
.children li.pingback { /* Nexted comments and pingbacks */
	padding-top: 1.0em;
}
.comment .avatar { /* Comment author's gravatar image */

}
.comment-author { /* Comment author's name */
	
}
.comment-meta { /* Comment date, time, etc */

}
.comment-content { /* Actual comment text */

}
.comment .reply { /* The "Reply" link under each comment */
	text-align: right;
}


/* Comment Form */
.comment-notes,
#commentform .form-allowed-tags,
p.nocomments,
p.logged-in-as,
#commentform label {

}
.required { /* The little asterisk next to a required comment field */
	color: #880000;
}
#commentform label { /* The text next to each comment form field */
	padding: 1em 0;
}
#commentform input[type="text"] {

}
#commentform #comment { /* The comment form textarea */

}
#commentform .form-allowed-tags,
#commentform .form-allowed-tags code {

}
p.nocomments { /* Message displayed when there are no comments */

}


/* =Widgets
----------------------------------------------- */

.widget-area { /* All of the sidebar container divs get this common class */
	
}
.widget { /* The individual widget */
	margin: 0 0 1.5em;
}
.widget-title {
	padding-top: 20px;
}
.widget ul { /* Unordered lists inside widgets */
	list-style: none;
	margin: 0;
}
.widget ul li { /* Unordered list items inside widgets */
	margin-bottom: 0.25em;
}

/* Search widget */

#searchsubmit {
	display: none;
}
.widget_search #s {

}

.search-submit {
	display: none;
}
.screen-reader-text {
	display: none;
}

.search-field {
	background-image: url("img/searchicon.png");
	background-repeat: no-repeat;
	background-position: right;
	font-size: 24px;
	color: rgb(188, 188, 188);
	text-align: left;
	border: 10px solid;
	background-color: rgb(246, 246, 246);
}

.widget .widget_categories {
	font-size: 24px;
	color: rgb(0, 0, 0);
	text-transform: uppercase;
}

.cat-item a {
	text-decoration: none;
	font-size: 18px;
	color: rgb(105, 105, 105);
	line-height: 2;
}

/* Sub-Items in Menu & Categories Widgets. These classes are useful if you want to add special styling, such as indention, to sub-items in your menu and categories widgets. */
.widget-area .sub-menu,
.widget-area .children { 
	margin-left:  1.5em;
}
.widget-area .sub-menu li,
.widget-area .children li {

}

/* Text Widgets */
.widget p,
.textwidget {

}
.widget p a,
.textwidget a {

}

/* Cloud Widgets */
.wp_widget_tag_cloud div,
.widget_tag_cloud div {
	line-height: 1.5;
	padding: 0.231em 0;
}

/* RSS Widget */
.rsswidget img { /* This is the orange RSS icon to the left of the RSS widget title */
	margin: 0;
	vertical-align: text-top;
}
.rss-date {

}
.rssSummary {

}

/* Calendar Widget */
#wp-calendar {
	width: 100%;
}
#wp-calendar caption {
	font-style: italic;
}
#wp-calendar thead th {
	text-align: center;
}
#wp-calendar tbody,
#wp-calendar tbody td {
	border: 1px solid #000;
}
#wp-calendar tbody {
	border-left-width: 0;
}
#wp-calendar tbody td {
  	border-width: 1px 0 0 0;
}
#wp-calendar tbody td a {
	font-weight: bold;
}
#wp-calendar tbody td:hover {

}
#wp-calendar tfoot #next {
	text-align: right;
}
#wp-calendar #today {
	font-weight: bold;
}
#wp-calendar #prev,
#wp-calendar #next {

}
#wp-calendar tbody .pad {

}


/* =Site Footer
----------------------------------------------- */

.footer-first, .footer-second {
	width: 100%;
	height: 100%;
	height: 60px;
	font-size: 18px;
}
.footer-first {
	background-color:#f6f6f6;
}


.footer-first .social-media {
	padding-top: 20px;
	padding-left: 20px;
}
.footer-first .social-media .icon {
	float: left;
	padding-right: 20px;
}
.footer-first .newsletter {
	padding-top: 10px;
	float: right;
	text-align: right;
	color: rgb(0, 0, 0);
}

.newsletter .newsletter-input {
	text-align: center;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(0, 135, 189);
    border-radius: 5px;
    background-color: rgba(0, 134, 188, 0);
}


.footer-second {	
	background-color: rgb(0, 135, 189);
	color: rgb(255, 255, 255);
}
.copywrite {
	padding-top: 10px;
	text-align: left;
}

.terms , .terms:hover{
	padding-top: 10px;
	text-decoration: none;
}
.terms p {
	color: rgb(255, 255, 255);
    text-align: right;
}

/* =Responsive Structures
----------------------------------------------- */

@media only screen and (max-width: 768px) {
	/*GENERAL*/
	#content,
	#primary,
	#secondary,
	#tertiary { /* Remove floats on all structural elements for smaller screens */
		float: none;
		margin: 0;
		padding: 0;
	}
	#primary,
	#secondary,
	#tertiary { /* Make all structural elements full-width */
		width: 100%;
	}
	h1 {
		font-size: 24px !important;
	}
	h2 {
		font-size: 18px !important;
	}
	h3 {
		font-size: 16px !important;
	}
	p {
		font-size: 12px !important;
	}
	/*Footer*/
	.footer-first {
		background-color:#f6f6f6;
		height: 140px;
	}
	.footer-second {
		height: 140px;
	}
	.footer-first .social-media {
		display: flex;
		justify-content: center;
		padding-top: 20px;
		width: 100%;
	}
	.footer-first .social-media a {
		display: flex;
		justify-content: center;
	}
	.footer-first .newsletter {
		margin: auto;
		width: 100%;
		text-align: center;
	}
	.footer-first .newsletter input{
		width: 100%;
		margin:auto;
	}
	/*BOOTSTAP SLIDERS*/
	.section5-text h1{
	    padding-top: 0px; 
	}
	.carousel-inner {
	    min-height: 420px;
	}

	.logo1, .logo2, .logo3, .logo4 {
	    padding-left: 0px;
	    padding-right: 0px;
	    padding-top: 20px;
	}

	/*HOMEPAGE*/
	.section1 {
		max-height: 420px;
	}
	.group {
    	padding-top: 0px !important;
	}
	.group-icon img{
    	height: 70% !important;
	}
	.group-header {
		min-height: 0px !important;
	    padding-top: 0px !important;
	}
	.group-button {
	    padding: 10px;
	    padding-bottom: 30px !important;
	}
	.section2 {
		padding-top: 0px !important; 
	    padding-bottom: 0px !important;
	    
	}
	.section2-text {
		padding-bottom: 0px !important; 
	}
	.section3 {
		height: 420px !important;
	}
	.section3-text {
	    padding: 5px;
	    padding-top: 10px !important;
	    padding-left: 0px !important;
	}
	/*Button Resize*/
	a.link:nth-child(2) > img:nth-child(1), a.link1:nth-child(3) > img:nth-child(1) {
		width: 50%;
	}
	/*Why CBS PAGE*/
	.section2-whycbs {
		padding-bottom: 20px !important;
	}
	.section2-whycbs .group {
		padding: 0px; 
	}
	.section2-whycbs .group-icon {
		font-size: 46px !important;
	}
	.section45 h1 {
		padding: 30px !important;
	}
	.section45 .img-wrapper{
		clear: both;
	}

	.section45 .text-wrapper {
	 	clear: both;
	}

	.section45 .group-wrapper {
		padding-bottom: 20px !important;
		clear: both;
		height: 100%;
		width: 100%;
		display: flex;
		justify-content: center;

	}

}
@media (min-width: 768px) and (max-width: 1096px){
	/*GENERAL*/
	h1 {
		font-size: 28px !important;
	}
	h2 {
		font-size: 24px !important;
	}
	h3 {
		font-size: 20px !important;
	}
	
	
	p {
		font-size: 14px !important;
	}

	/*NAVBAR*/
	.site-header {
		display: block;
		height: 100%;
	}
	.logocbs {
		padding: 0;
		margin: 0;
		clear: both;
		padding: 10px;
		position: relative;
		left: 41%;
	}
	.main-navigation {
		clear: both;
		padding: 0;
		margin: 0;
		font-size: 20px;
		display: flex;
		justify-content: center;

	}
	
	/*BOOTSTAP SLIDERS*/
	.section5-text h1{
	    padding-top: 0px; 
	}
	.carousel-inner {
	    min-height: 420px;
	}

	.logo1, .logo2, .logo3, .logo4 {
	    padding-left: 0px;
	    padding-right: 0px;
	    padding-top: 20px;
	}
	/*Why CBS PAGE*/
	.section2-whycbs {
		padding-bottom: 0px !important;
	}
	.section45 h1 {
		padding: 30px !important;
	}
	.section2-whycbs .group-icon {
		font-size: 68px !important;
	}
	.section2-whycbs .group {
		padding: 0px !important;	
		height: 100%;	 
	}
	.section45 .img-wrapper{
		clear: both;
	}

	.section45 .text-wrapper {
	 	clear: both;
	}

	.section45 .group-wrapper {
		padding-bottom: 20px !important;
		clear: both;
		height: 100%;
		width: 100%;
		display: flex;
		justify-content: center;

	}
}
/* =IE Styling
----------------------------------------------- */

/* If you have any IE-specific adjustments to make, add them here. 

For example: 

#ie8 body {
	color #333;
}

Will make the sbody text #333 on IE8 only. In order for this to work, you need to set up conditionals to add an ID-selector to the HTML element when IE is detected. For instructions on how to set up the conditionals, see: http://themeshaper.com/2012/10/31/the-wordpress-theme-header-template/
*/

/* =Front-Page
----------------------------------------------- */

/*FRONT PAGE*/

/*SECTION1*/
.section1 {
	height: 100%;
	height: 720px;
    color: rgb(255, 255, 255);
    background-image: url("img/frontpagetop.png");
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
 
}
.section1 h1{
	padding-bottom: 30px;
}
.section1 a{
	margin: auto;
}
/*SECTION 2*/

.section2 {
    height: 820px;
    height: 100%;
    text-align: center;
    padding-bottom: 150px;
}

.section2-text h2{
	margin-bottom: 10px;
	padding-bottom: 10px;
	padding-top: 20px;
}

.section2-text h6 {
	color: #555555;
	font-size: 30px;
	padding: 0px;
}
.section2  .group  {
    padding-top: 100px;
}

.section2 .group-icon {
    height: 96px;
    display: flex;
    align-items: center;
    justify-content: center;


}
.section2 .group-header {
	font-family: "lato-light";
	min-height: 160px;
    padding: 10px;
    padding-top: 50px;
}

.section2 .group-button {
    padding: 10px;
    padding-bottom: 50px;
    display: flex;
    justify-content: center;

}

/*SECTION 3*/
.section3 {
	height: 100%;
	width: 100%;
	height: 460px;
    background-image: url("img/slider3.png");
    background-size: cover;
}
.section3-text {
    padding-top: 50px;
	color: rgb(255, 255, 255);
}
.section3-text h3, .section3-text p {
	text-align: left;
}
.section3-text h3 {
    font-family: 'lato-bold';

}
.section3-text > p:nth-child(2){
    padding-top: 20px;
    padding-bottom: 100px;
}


/*SECTION4(Play Area)*/
.section4 {
	height: 100%;
	height: 820px;
    padding-top: 100px;
    background-color: #f6f6f6;
    text-align: left;
}
.section4-text h2, .section4-text h3, .section4-text p {
	text-align: left;
}
.section4-text h4{
    padding-bottom: 10px;
    font-family: 'lato-hairline';
}

.section4-text h2{
    padding-bottom: 50px;
   
}
.section4-text p {
	padding-bottom: 50px;
}
.section4-text p:nth-child(1) {
	padding: 0;
}
.section4-container{
    display: flex;
    vertical-align: center;
    justify-content: center;
}
#stanga {
    z-index: 10;
    position: absolute;
    top: 50%;
    left: 1%;
    
}
#dreapta {
    z-index: 10;
    position: absolute;
    top: 50%;
    left: 96%;
}

/*SECTION 5*/
.section5 {
	width: 100%;
    height: 460px;
    height: 100%;
    text-align: center;
}

.section5-text h1{
    padding-top: 80px;
    font-size: 36px;
    color: rgb(0, 0, 0);
    text-align: center;    
}

.section5-text p {
    font-size: 18px;
    color: rgb(0, 0, 0);
    text-align: center;
    padding-top: 20px;
}

.carousel-indicators li {
	padding: 4px;
	background-color: #F6F6F6;
	margin: 10px;
	cursor: pointer;
	border-radius: 50%;
	box-shadow: inset 1px 1px 1px 1px rgba(0,0,0,0.5);   
 	max-width:100%;
    max-height:100%; /*or any other percentage that would look good*/
}

.carousel-indicators .active {
    max-width: 5px;
    max-height: 5px;
    margin: 10px;
    background-color: #0087bd;
}

.carousel-inner {
	height: 100%;
	width: 100%;
    height: 220px;

}

.logo1, .logo2, .logo3, .logo4 {
    padding-left: 100px;
    padding-right: 100px;
}
	
/*Careers Page*/

.section1-careers {
    background-image: url("img/careerstop.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 250px;
	color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
}
.section2-careers {
	height: 100%;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 50px;
}
.section2-careers h2 {
	padding-bottom: 30px;
}
.section2-careers h4 {
	color: #555555;
}
.careers-form {
	width: 100%;
	height: 100%;
	margin-top: 50px;
    background-color: #F6F6F6;
    color: rgb(0, 0, 0);
    text-align: center;
}
.careers-form  .careers-jobtitle, .careers-form  .careers-jobsearch, .careers-form  .careers-joblocation, .careers-form h4 {
	display: flex;
	justify-content: center;
	align-items: center;
	justify-content: center;
	padding-top: 20px;
    padding-bottom: 20px;
}

.careers-bottom img{
   width: 100%;
   height: 100%;
   
}
.careers-padding {
    height: 100px;
    background-color: white;
}


/*WHYCBS*/
/*SECTION1*/

.section1-whycbs {
	height: 100%;
    height: 250px;
    background-image: url("img/whycbs.png");
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
   	justify-content: center;
   	align-items: center; 
   	color: white;  

}
/*SECTION2*/
.section2-whycbs {
	height: 620px;
	height: 100%;
	text-align: center;
	padding-bottom: 150px;
}

.section2-whycbs h4 {
	font-family: 'lato-light';
}

.section2-whycbs .group-icon {
	font-size: 90px;
	font-family: 'lato-light';
	color: rgb(240, 85, 50);
	
}
.section2-whycbs .group-header {
	color: #555555;
	font-family: 'lato-light';
	
}

.section2-whycbs .icon-text {
	margin-top: 44px;
	font-size: 24px;
	font-family: 'lato-light';
	padding: 15px;
}
/*SECTION3*/
.section3-whycbs {
    background-image: url("img/whycbsintelectualproperty.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    height: 820px;
  	text-align: center;
  	color: rgb(255, 255, 255);
}

.section3-whycbs h2 {
	padding-top: 20px;
	padding-bottom: 50px;
}

/*SECTION4*/
.section4-whycbs {
	height: 100%;
    height: 600px;
    background-color: #F6F6F6;
}
.section4-whycbs .check, .section4-services .check, .section4-services-staffaugmentation .check, .section4-services-integration .check {
	float: left;
	padding-right: 20px;
}

.section4-whycbs h2{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 50px;
}
.section4-whycbs ol {
	 list-style-type: none;
}
.section4-whycbs p {
	text-align: left;
}
/*Section4-5*/
.section45 {
	line-height: 1.2;
	text-align: center;
	height: 100%;
}
.section45 .group-wrapper {
	padding-bottom: 100px;
	float: left;	
}

.section45 .img-wrapper{
	float: left;
	margin-left: 80px;
	width: 100px;
	height: 106px;	
}

.section45 .text-wrapper {
 	float: left;
 	width: 310px;
 	margin-left: 20px;	
 	
}

.section45 h2 {
	padding-top: 20px;
	padding-bottom: 50px;
}

.section45 h5{
	font-size: 24px;
  	color: rgb(0, 134, 188);
  	font-weight: bold;
}

.section45 p {
	color: rgb(102, 102, 102);
	text-align: left;
}


hr {
  border: 0;
  clear:both;
  display:block;
  width: 96%;               
  background-color:#FFFF00;
  height: 1px;
}

/*Services CBS PAGE*/
.services-askforoffer {
	margin: auto;
}
.section1-services {
	width: 100%;
	height: 100%;
    height: 450px;
    background-image: url("img/slider3.png");
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    text-align: left;
}

.section2-services {
	background-color: white !important;
	text-align: center;
}

.mininavbar {
	display: flex;
	justify-content: center;
	height: 180px;
}
div.group:nth-child(1) > p:nth-child(3) {
	padding-top: 10px;
}
div.group:nth-child(3) > p:nth-child(2) {
	padding-top: 20px;
}
.mininavbar .group {
	width: 300px;
	height: 220px;
	position: relative;
}

.bar-right:before {
	content : "";
	position: absolute;
	left    : 0;
	bottom  : 25%;
	height  : 50%;
	width   : 100%;
	border-right:1px solid #F6F6F6;
}

.bar-left:before {
	content : "";
	position: absolute;
	left    : 0;
	bottom  : 25%;
	height  : 50%;
	width   : 100%;
	border-left:1px solid #F6F6F6;
}

.mininavbar .service-active{
	background-color: #F6F6F6;
	border-bottom: 5px solid #F15F3E;
	font-weight: bold;
}
.mininavbar .group {
	cursor: pointer;
}
.mininavbar .group img {
	padding-top: 20px;
	padding-bottom: 20px;
	margin:auto;
}
.mininavbar-second {
	margin-top: 40px;
	height:50px;
	display: flex;
	justify-content: center;
	align-items: center;
	color: rgb(0, 0, 0);
	text-transform: uppercase;
	text-align: center;
	background-color: #F6F6F6;
	border-top: 1px solid #333;
	border-bottom: 1px solid #333;
	
}
.mininavbar-second .mininavbar-item {
	width:410px;
	display: flex;
	justify-content: center;
}
#appdelivery {
	width: 480px;
}
.mininavbar-second .mininavbar-item:hover {
	cursor: pointer;
}
.mininavbar-second .fakecheckbox {
	padding-right: 5px;
}
#radiocheck, #radiouncheck {
	margin-top: 5px;
}
.mininavbar-second a {
	text-decoration: none;
	color: black;
}

.mininavbar-second .fakecheckbox p {
	margin-top: 3px;
	font-weight: bold;
}
.mininavbar-second p {
	margin-top: 3px;
	padding-left: 15px;
}

.section3-services {
    height: 570px;
    text-align: center;
    background-color: white;
  
}
.section3-services h2{
	padding-top: 50px;
	
}
.section3-services p{
	font-size: 18px;
	padding-top: 20px;	
}

.section3-services img {
	margin:auto;
}
.itoutsourcing-img-wrapper {
	position:relative;
	top:100px;
}

.section4-services, .section4-services-cloudbackup {
    height: 900px;
    background-color: #F6F6F6 !important;
    font-size: 16px;
}

.section4-services h3{
	text-align: center;
    font-size: 24px;
    padding-top: 80px;
    padding-bottom: 30px;
}
/*Email backup*/
.section4-services-cloudbackup h4, p{
	text-align: center;
}

.section4-services-cloudbackup h4 {
	padding-top: 20px;
	padding-bottom: 20px; 
}
.section4-services-cloudbackup a {
	margin-top: 50px;
}
.section5-services-cloudbackup {
	height: 500px;
}
.section5-services-cloudbackup .cloudbackup-img-wrapper {
	height: 100%;
}
.section5-services-cloudbackup .cloudbackup-img {
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.section5-services-cloudbackup h4 {
	padding-top: 100px;
	padding-bottom: 50px;
}

/*IT OUTSOURCING*/
.section4-services .itoutsourcing-group h4{
	text-align: center;
	padding-top: 20px;
	padding-bottom: 50px;
}
.section4-services .itoutsourcing-group p{
	text-align: left;
}
.section4-services .itoutsourcing-group div{
	width: 280px;
	margin:auto;
}

.section4-services .itoutsourcing-img, .section4-services-cloudbackup .itoutsourcing-img{
	padding-top: 100px;
	margin: auto;
}
.section5-services { 
    background-color: white;
}
.askoffer-center {
	display: flex;
	justify-content: center;
	align-items: center;
}
/*STAFF AUGMENTATION*/
.section4-services-staffaugmentation, .section6-services-webdev{
	height: 100%;
    height: 768px;
    background-color: #F6F6F6;
}
.staffaugmentation-check{
	width: 280px;
	margin:auto;
}
.staffaugmentation-img {
	display:flex;
	justify-content:center;
	align-items:center;
	height:80%;
}
.section4-services-staffaugmentation h4, .section5-services-cloudemail h4{
	text-align: left;
    padding-top: 20px;
    padding-bottom: 30px;
    padding-left: 80px;
}
.section4-services-staffaugmentation .h4-center {
	text-align: center;
}

.section4-services-staffaugmentation p, .section4-services-integration p, .section5-services-staffaugmentation p {
	text-align: left;
}

.section5-services-staffaugmentation {
	height: 500px;
}
.section5-services-staffaugmentation h4 {
	padding-top: 20px;
}
.section5-services-staffaugmentation img {
	float:left;
}
.section5-services-staffaugmentation a {
	margin-top: 50px;
}

.section5-services-staffaugmentation .staffaugmentation-img, .section6-services-staffaugmentation .staffaugmentation-img  {
	display: flex;
	justify-content: center;
	align-items: center;
}
.section6-services-staffaugmentation {
	height: 100%;
	height: 700px;
	background-color: #F6F6F6;
}
.section6-services-staffaugmentation h4{
	padding-top: 20px;
	text-align: center;
}
.section4-services-integration h4 {
	padding-top: 20px;
	padding-bottom: 50px;
	text-align: center;
}
.section6-services-staffaugmentation h6 {
	text-align: left;
}
.section6-services-staffaugmentation a {
	margin-top: 50px; 
}
/*Software integration*/
.section4-services-integration {
	height: 100%;
    height: 568px;
    background-color: #F6F6F6;
}
/*Cloud Email*/
#ajax-wrapper .section3-services .cloud-email {
	display: flex;
	justify-content: center;
	padding-top: 50px;
}
#ajax-wrapper .section3-services .cloud-email img, #ajax-wrapper .section3-services .cloud-email p{
	float: left;
}

#ajax-wrapper .section3-services .cloud-email img {
	margin-top: 20px;
	margin-right: 10px;
}
.section4-services-cloudemail h4, .section5-services-exchangeemail h4 {
	text-align: left;
	padding-top: 20px;
	padding-bottom: 50px;
}
.section4-services-cloudemail a {
	margin-top: 50px;
}
.section5-services-cloudemail{
	height: 500px;
	
}
.section5-services-cloudemail .cloudemail-img{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
}

/*Exchange Email*/
.section5-services-exchangeemail {
	height: 900px;
	background-color: #F6F6F6;
}
.section5-services-exchangeemail .exchangeemail-img {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 90%;
}
/*Web design and development*/
.section4-services-webdev {
	height: 700px;
	background-color: #F6F6F6;
	text-align: center;
}
.section4-services-webdev .webdev-img {
	display: flex;
	justify-content: center;
	align-items: center;
	padding-bottom: 100px;
}
.section4-services-webdev h4 {
	padding-top: 20px;
}
div.webdev-group:nth-child(2) > p:nth-child(3), div.webdev-group:nth-child(1) > p:nth-child(3) {
	padding-top: 20px;
	padding-bottom: 50px;
}
.section5-services-webdev {
	height: 700px;
	text-align: left;
}
.section5-services-webdev h4 {
	text-align: left;
	padding-top: 20px;
	padding-bottom: 50px;
}
.section4-services-cloudemail {
	height: 700px;
	background-color: #F6F6F6;
}
.section5-services-webdev img , .section4-services-cloudemail img{
	padding-top: 50px;
}

/*Cloud CBS PAGE*/

.section1-cloud {
    padding-left: 30px;
    padding-top: 80px;
    vertical-align: center;
    font-size: 48px;
    color: rgb(255, 255, 255);
    text-align: left;
    height: 597px;
    background-image: url("img/cloudtop.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.section2-cloud {
    padding-top: 50px;
    height: 800px;
    font-size: 20px;
    color: rgb(0, 0, 0);
    text-align: center;
}
.section2-cloud-main {
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.section2-cloud h1 {
    padding-bottom: 100px;
}

.section2-cloud-header {
    padding: 50px;
    padding-top: 50px;
    font-size: 30px;
    color: rgb(0, 0, 0);
    text-align: center;
}

.section3-cloud {
    padding-top: 50px;
    font-size: 20px;
    color: rgb(255, 255, 255);
    text-align: center;
    height: 450px;
    background-image: url("img/cloudbottom.png");
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 100px;
}

.section4-cloud {
    text-align: center;
    height: 350px;
    display: flex;
    align-items: center;
    justify-content: center;    
}
.section4-cloud h1 {
	font-size: 36px;
    padding-bottom: 50px;
}

.section4-cloud h3 {
	font-size: 18px;
    padding-bottom: 50px;
}

.section4-cloud .link {
    padding-bottom: 50px;
    display: flex;
    justify-content: center;
}


/*PLAY CBS Page*/
.section1-play {
    padding-left: 30px;
    padding-top: 80px;
    vertical-align: center;
    font-size: 48px;
    color: rgb(255, 255, 255);
    text-align: left;
    height: 597px;
    background-image: url("img/cloudtop.png");
    background-size: cover;
    background-repeat: no-repeat;

}

.section2-play {
    height: 650px;
	height: 100%;
	width: 100%;  
    text-align: center;
}

.section2-play span {
    width: 5px;
    height: 100%;
    background-color: white;    
}

.section2-play h1{
    padding-top: 50px;
    font-size: 30px;
    color: rgb(0, 0, 0);	
}

.section2-play p {
    font-size: 18px;
    color: rgb(0, 0, 0);
}

.section2-play .arrow {
    display: flex;
    align-items: center;
}

.section2-play-wrapper {
	width: 100%;
	max-height: 100%;
    font-size: 24px;
} 

.section2-play-wrapper .section2-icon {
	display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 50px;
    height: 280px;
}

.section2-play-wrapper .section2-header {
    padding-top: 50px;
    padding-bottom: 50px;
}

#play-wrapper h1, #play-wrapper p{
	padding-bottom: 20px;
}
#play-wrapper h2 {
	font-size: 38px;
}

.section2-play-wrapper .section2-header-play3{
	text-align: center;
}

.section2-play-wrapper .section2-header, .section2-play-wrapper .section2-icon{
    display: flex;
    justify-content: center;
    align-items: center;
}

.section2-play .link {
    padding: 50px;   
}

.section2-play .section2-play-text {
    background-color: white;
    padding: 50px;
}

.section2-play-text h1{
	padding-bottom: 20px;
}

.section2-play-text p{
	padding-bottom: 20px;
}

.section2-play .section2-play-slider {
    font-size: 30px;
    color: rgb(255, 255, 255);
    text-align: center;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0087bd;
    cursor: pointer;
}
.section2-play .section2-play-slider .play {
    height: 100%;
}

.section2-play .section2-play-slider .play:hover {
	background-image: url("img/playArrow.png");
	background-repeat: no-repeat;
	background-position: bottom;
	background-size: 5%;
    background-color: #006891;
}

.section2-play .section2-play-slider a {
    text-decoration: none;
    color: white;
} 

.section2-play .askforoffer {
	display: flex;
	justify-content: center;
	padding-bottom: 50px;
}

/*Contact Page */
.section1-contact {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    height: 250px; 
    background-image: url("img/contacttop.png");
    background-size: cover;
    font-size: 60px;
}
.section2-contact {
    height: 800px;
    height: 100%;
    padding-top: 100px;
}
.section2-contact .left {
    padding: 5px;
    padding-left: 50px;
}

.section2-contact h1 {
	padding-bottom: 20px;
}
.section2-contact .left p{
    font-size: 18px;
  color: rgb(0, 0, 0);
  text-align: left;
}
.section2-contact h1 {
    font-size: 30px;
  color: rgb(0, 0, 0);
  text-align: left;
}
.section2-contact .right {
	padding-top: 100px;
    font-size: 18px;
    color: rgb(0, 0, 0);
    text-align: left;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section2-contact .contact-text {
	text-align: center;
}
.section2-contact .contact-text h2{
	padding-top: 20px;
	font-size: 24px;
}

.section2-contact .contact-text p{
	font-size: 18px;
}

/*Email*/
.section1-email{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 250px;
    background-image: url("img/emailtop.png");
    background-size: cover;
    font-size: 60px;
}
.section2-email {
    padding-top: 50px;
    text-align: center;
}

.section2-email h3 {
	font-size: 30px;
}

.section2-email p {
	padding-top: 50px;
	font-size: 18px;
}
.section2-email-block h3{
	font-size: 30px;
    padding-bottom: 20px;
    padding-top: 150px;
}

.section2-email-block p{
	font-size: 18px;
    padding-bottom: 50px;
}
.section2-email-block .link {
   padding-bottom: 100px;
   padding-bottom: 100px;
}

.section2-email-block .block{
    padding-top: 10px;
    padding-bottom: 10px;
}

/*HOSTED EXCHANGE EMAIL*/

.section2-hostedmail {
    height: 300px;
    background-color: white;
    font-size: 18px;
    color: rgb(0, 0, 0);
    text-align: center;
    padding-top: 30px;
}

.section3-hostedemail{
    height: 800px;
    background-color: #F6F6F6;
}

.section3-hostedemail .group{
    color: black;
    background-image: url("img/hostedemailexchange.png");
    background-size: cover;
    background-repeat: no-repeat;
    text-align: left;
    height: 250px;
    width: 600px;
    background-color: white;
}

.section3-hostedemail .group p, .section3-hostedemail .group-active p{
    font-size: 18px;
    color: rgb(0, 0, 0);
    padding-bottom: 100px;
}

.section3-hostedemail .group h1, .section3-hostedemail .group-active h1{
    font-size: 30px;
    color: rgb(0, 0, 0);
}

.section3-hostedemail .group-active h1{
	padding-top: 20px;
}

.section3-hostedemail .group-active {
    background-image: url("img/exmailexchangeblue.png");
    background-size: cover;
    background-repeat: no-repeat;
    text-align: left;
    height: 250px;
    width: 600px;
    background-color: white;
    color: black;
} 

.section4-hostedemail {
    height: 400px;
    background-color: white;
    text-align: center;
}

.section4-hostedemail h1 {
    padding-top: 50px;
    padding-bottom: 50px;
    font-size: 30px;
    color: rgb(0, 0, 0);
}

.section4-hostedemail p {
	font-size: 18px;
	color: rgb(0, 0, 0);
}

/*Careers Result Page*/

.job_listings {
	/*text-align: center;*/
	width: 100%;
	clear: both;
	text-decoration: none;
}

.job_filters {
	background-color: #B8B8B8;
	height: 100%;
	width: 30%;
	
}

#search_keywords, #search_location {
	background-color: white;
}

.search_location {
	border:dotted;
}

.job-header-row {
	background-color: rgb(0, 135, 189);
	color: rgb(255, 255, 255);
	font-size: 24px;
	width: 100%;
	height: 50px;
}

.job-header {
	padding-top: 10px;
}

.job_listing .position{
	font-size: 18px;
	text-decoration: none;
	color: #999;

}
.job_types, .post-edit-link {
	display: none;
}

#single-job-title {
	padding-top: 20px;
	padding-bottom: 20px;
	font-size: 30px;
	color: rgb(0, 135, 189);
}

#single-job-location, #single-job-date, #single-job-category {
	color: #999;
	font-size: 18px;

}

.job_description {
	color: #999;
	font-size: 18px;
}

#job-apply2 img {
	padding: 100px;
}

.breadcrumb {
	background-color: white;
	font-size: 18px;
}

.breadcrumb a {
	text-decoration: none;
}

.section2-careers-result {
    height: 1000px;
}

.section2-careers-result h1{
    font-size: 30px;
    color: rgb(0, 0, 0);
    text-align: left;
}

.section2-careers-result thead{
    background-color: #0087bd;
}

.section2-careers-result .table-area {  
    text-align: center;
}

.section2-careers-result td{
    cursor: pointer;
    font-size: 18px;
    color: rgb(0, 0, 0);
    height: 50px;
}

.section2-careers-result td p {
    color: #bcbcbc;
}   

.section2-careers-result thead tr th{
    text-align: center;
    font-size: 24px;
  color: rgb(255, 255, 255);
}

.section2-careers-result .page-number {
    padding: 10px;
    cursor: pointer;    
}

.section2-careers-result span .page-number .active {
    background-color: pink;
}

.section2-careers-result .form-area h1{
    text-align: center;   
}
.section2-careers-result .form-wrapper {
    height: 100%;
    width: 100%;
    width: 350px;
    background-color: #f6f6f6;
}
.section2-careers-result .form-wrapper a{
    float: right;
    padding-bottom: 20px;
}

.section2-careers-result .form-wrapper .dateposted{ 
    height: 24px;
    width: 360px;
    background-image: url("img/datepostedslider.png");
    background-repeat: no-repeat;

}

.section2-careers-result .form-wrapper .dateposted img:hover {
    background-color: pink;
}
.section2-careers-result .form-group {
    padding-top: 30px;
    padding-bottom: 10px;
}

.section2-careers-result .form-group input {
    text-align: center;
}

.section2-careers-result #dropdownMenu1 {
    font-size: 18px;
    float: center;
    background-color: white;
    height: 50px;
    text-align: center;
}

input[type=radio].css-checkbox {
							position:absolute; z-index:-1000; left:-1000px; overflow: hidden; clip: rect(0 0 0 0); height:1px; width:1px; margin:-1px; padding:0; border:0;
						}

						input[type=radio].css-checkbox + label.css-label {
							padding-left:25px;
							height:20px; 
							display:inline-block;
							line-height:20px;
							background-repeat:no-repeat;
							background-position: 0 0;
							font-size:20px;
							vertical-align:middle;
							cursor:pointer;

						}

						input[type=radio].css-checkbox:checked + label.css-label {
							background-position: 0 -20px;
						}
						label.css-label {
				background-image:url(http://csscheckbox.com/checkboxes/u/csscheckbox_9c28035ca62a263973273ba2f208e5f7.png);
				-webkit-touch-callout: none;
				-webkit-user-select: none;
				-khtml-user-select: none;
				-moz-user-select: none;
				-ms-user-select: none;
				user-select: none;
				clear:both;
			}
/* CSR Page*/

.section1-csr {
    background-image: url("img/cloudtop.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 300px;
    color: white;
    font-size: 48px;
    display: flex;
    align-items: center;
    padding-left: 50px;
}
#sections-wrapper {
	background-color: white;
}
.section2-csr {
    padding: 50px;
    text-align: center;

}

.section2-csr p {
    font-size: 18px;
     color: #555555;
}

.section2-csr h1 {
    font-size: 30px;
    color: rgb(0, 0, 0);
    padding-bottom: 10px;
}

.section3-csr p, .section4-csr p, .section5-csr p, .section6-csr p{
    font-size: 18px;
    color: rgb(0, 0, 0);
    text-align: left;
    color: #555555;
}

.section3-csr h1, .section4-csr h1, .section5-csr h1, .section6-csr h1{
	padding-top: 100px;
    font-size: 30px;
    color: #555555;
    text-align: left;
}
.section3-csr h2, .section4-csr h2, .section5-csr h2, .section6-csr h2{
    font-size: 48px;
    color: rgb(0, 0, 0);
    text-align: left;
}

.section3-csr .img, .section4-csr .img, .section5-csr .img, .section6-csr .img, .section7-csr .img{
    display: flex;
    align-items: center;
    justify-content: center;
}
.section3-csr .img-center, .section4-csr .img-center, .section5-csr .img-center, .section6-csr .img-center{
    display: flex;
    align-items: center;
    justify-content: center;
}

.section5-csr .img{
	float: left; 	

}

.section6-csr {
	height: 100%;
	border:dotted;
	padding-bottom: 100px;
}

.section8-csr {
	background-color: #F6F6F6; 
	font-size: 36px;

}

.section8-csr h1{
	padding-top: 25px;

}
.entry-content p {
	display: none;
}

.site-main-CSR {

	height: 100%;
	background-color: #F6F6F6; 
}
.wp-posts-carousel{
	clear: both;
	background-color: #F6F6F6; 
	height: 700px;
	z-index: 10;
}

.wp-posts-carousel-container {
	background-color: white;
	width: 400px;
	height: 620px;
	margin: auto;
}

.wp-posts-carousel-container img {
	min-width: 100%;
	height: 200px;
	padding-bottom: 30px;
}
.wp-posts-carousel-title a{
	text-decoration: none;
	font-size: 30px;
  	color: rgb(0, 0, 0);
}

.wp-posts-carousel-details {
	padding-top: 20px;
	height: 100px;
	max-width: 100%;
}
.wp-posts-carousel-desc {
	margin-top: 50px;
	padding-top: 20px;	
	height: 100%;
	width: 100%;
	padding-top: 50px;
	text-align: center;

}
.owl-controls {
	position: absolute;
	bottom: 3%;
	left: 53%;
}
.csr-space {
	background-color: white;
	width: 100%;
	height: 100px;
}

/*Reporter Page*/

.section1-reporter {
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
	font-size: 38px;
	background-image: url("img/emailtop.png");
	background-size: cover;
	width: 100%;
	height: 400px;
	background-repeat: no-repeat;
}

.content-area {
	padding-bottom: 60px;
}

aside {
	min-height: 100%;
}

.show {
	display: block;
}

.hidden {
	display: none;
}